<div>
  <form #loginForm="ngForm">
    <div>
      <label for="email">Email</label>
      <input data-cy="email" type="email" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div data-cy="emailRequired" *ngIf="email.errors?.['required']">
          L'email est requis.
        </div>
      </div>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input data-cy="password" type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div data-cy="passwordRequired" *ngIf="password.errors?.['required']">
          Le mot de passe est requis.
        </div>
      </div>
    </div>
      <button data-cy="connexion" (click)="connexion(loginForm)">Se connecter</button>

    <div>
      <span data-cy="formResult" *ngIf="formError">{{ formError }}</span>
    </div>
  </form>
</div>
